{% extends "object_base.html" %}
{% block title %}机房管理－－新增列头柜{% endblock %}
{% block username %}developer{% endblock %}
{% block pagehead %}
<ol class="breadcrumb">
    <li>
    <a href="{% url "rmss.views.machine_room_list_view" %}">机房资源</a>
    </li>
    <li>
    <a href="{% url "rmss.views.machine_room_detail_view" room.id %}">
        {{room.room_id}}
    </a>
    </li>
    <li class="active">新增列头柜</li>
</ol>
{% endblock %}

{% block pageleft %}
<div class="col-md-3">
    <div class="sidebar">
        <ul class="nav-stacked nav nav-pills">
            <li><a href="">IP资源管理</a></li>
            <li><a href="">客户资源管理</a></li>
            <li class="active"><a href="">机房资源管理</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block pageright %}
<div class="tabbable tabs-right">
    <ul class="nav-tabs nav">
        <li><a href="{% url "rmss.views.machine_room_detail_view" room.id %}" >机房资源</a></li>
        <li class=""><a href="{% url "rmss.views.ups_list_view" room.id %}">UPS</a></li>
        <li class=""><a href="{% url "rmss.views.battery_list_view" room.id %}">电池组</a></li>
        <li class=""><a href="{% url "rmss.views.ac_list_view" room.id %}">空调</a></li>
        <li class="active"><a href="{% url "rmss.views.power_cabinet_list_view" room.id %}">电力设备</a></li>
        <li><a href="{% url "rmss.views.monitor_list_view" room.id %}">监控</a></li>
        <li><a href="{% url "rmss.views.entrance_guard_list_view" room.id %}">门禁</a></li>
        <li><a href="{% url "rmss.views.fire_fight_list_view" room.id %}">消防</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active col-xs-10 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">列头柜</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="" role="form">
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.is_hidden %}
                        {{field}}
                        {% else %}
                        <div class="form-group">
                            <label for="id_{{field.name}}" class="col-xs-3 control-label">{{field.label}}</label>
                            <div class="col-xs-9">
                                {{field}}
                                {% if field.errors %}
                                <small class="help-block text-warning" >
                                {% for error in field.errors %}
                                    {{error}}
                                {% endfor %}
                                </small>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-xs-offset-3 col-sm-9">
                                <button class="btn-primary btn" type="submit" >保存</button>
                            </div>
                        </div>
                    <form>
                </div>
            </div>
            
            <div class="panel panel-primary">
            <div class="panel-heading">空开配置
            <a href="{% url "rmss.views.airswitch_add_view" room.id cabinet_id %}" class="btn-xs btn btn-success pull-right">添加空开</a>
            </div>
            <div class="panel-body">
            {% ifequal airswitch_list.count 0  %}
            <div class="alert alert-info">
            目前没有数据，请点击<a href="{% url "rmss.views.airswitch_add_view" room.id cabinet_id %}">添加空开</a>
            </div>
            {% else %}
            <table class="table" >
            <tr>
            <th>名称</th>
            <th>配置</th>
            <th>配置数量</th>
            <th>已用数量</th>
            </tr>
            {% for item in airswitch_list %}
            <tr>
            <td><a href="{% url "rmss.views.airswitch_detail_view" room.id cabinet_id item.id %}">{{item.name}}</a></td>
            <td>{{item.configuration}}</td>
            <td>{{item.total_count}}</td>
            <td>{{item.used_count}}</td>
            </tr>
            {% endfor %}
            </table>
            {% endifequal %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
      
