{% extends "object_base.html" %}
{% block title %}机房管理－－新增机房资源{% endblock %}
{% block username %}developer{% endblock %}
{% block pagehead %}
<!--<h3>机房资源</h3>-->
<ol class="breadcrumb">
    <li>
    <a href="{% url "rmss.views.machine_room_list_view" %}">机房资源</a>
    </li>
    <li class="active">{{form.room_id.value}}</li>
</ol>
{% endblock %}

{% block pageleft %}
<div class="col-md-3">
    <div class="sidebar">
        <ul class="nav-stacked nav nav-pills">
            <li><a href="">IP资源管理</a></li>
            <li><a href="">客户资源管理</a></li>
            <li class="active"><a href="">机房资源管理</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block pageright %}
<div class="tabbable tabs-right">
    <ul class="nav-tabs nav">
        <li class="active"><a href="" >机房资源</a></li>
        <li><a href="{% url "rmss.views.ups_list_view" id %}">UPS</a></li>
        <li><a href="{% url "rmss.views.battery_list_view" id %}">电池组</a></li>
        <li><a href="{% url "rmss.views.ac_list_view" id %}">空调</a></li>
        <li><a href="{% url "rmss.views.power_cabinet_list_view" id %}">电力设备</a></li>
        <li><a href="{% url "rmss.views.monitor_list_view" id %}">监控</a></li>
        <li><a href="{% url "rmss.views.entrance_guard_list_view" id %}">门禁</a></li>
        <li><a href="{% url "rmss.views.fire_fight_list_view" id %}">消防</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active pull-right col-xs-10">
            <div class=" panel panel-default">
                <div class="panel-heading">机房资源</div> 
                <div class="panel-body">
                    <form action="" method="post" role="form" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="id_room_id" class="control-label col-xs-4">机房ID</label>
                                <div class="col-xs-7">
                                    {% if form.room_id.errors %}
                                    <div class="alert-warning alert" role="alert">{{form.room_id.errors}}</div>
                                    {% endif %}
                                    {{form.room_id}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_name">机房名称</label>
                                <div class="col-xs-7">
                                    {% if form.name.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.name.errors}}</div>
                                    {% endif %}
                                    {{form.name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_room_type">机房类型</label>
                                <div class="col-xs-7">
                                    {% if form.room_type.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.room_type.errors}}</div>
                                    {% endif %}
                                    {{form.room_type}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_area">所属区域</label>
                                <div class="col-xs-7">
                                    {% if form.area.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.area.errors}}</div>
                                    {% endif %}
                                    {{form.area}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_address">机房地址</label>
                                <div class="col-xs-7">
                                    {% if form.address.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.address.errors}}</div>
                                    {% endif %}
                                    {{form.address}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_cover_range">覆盖范围</label>
                                <div class="col-xs-7">
                                    {% if form.cover_range.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.cover_range.errors}}</div>
                                    {% endif %}
                                    {{form.cover_range}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-4 col-xs-7">
                                    {% if form.is_all_net.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.is_all_net.errors}}</div>
                                    {% endif %}
                                    <div class="checkbox">
                                        <label for="">
                                            {{form.is_all_net}} 是否全网
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_remark">备注</label>
                                <div class="col-xs-7">
                                    {% if form.remark.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.remark.errors}}</div>
                                    {% endif %}
                                    {{form.remark}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_phone">电话</label>
                                <div class="col-xs-7">
                                    {% if form.phone.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.phone.errors}}</div>
                                    {% endif %}
                                    {{form.phone}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_room_status">状态</label>
                                <div class="col-xs-7">
                                    {% if form.room_status.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.room_status.errors}}</div>
                                    {% endif %}
                                    {{form.room_status}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="id_start_date">启用日期</label>
                                <div class="col-xs-7">
                                    {% if form.start_date.errors %}
                                    <div class="alert-warning alert" rol="alert">{{form.start_date.errors}}</div>
                                    {% endif %}
                                    {{form.start_date}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-4 col-xs-7">
                                    <button class="btn-primary btn" type="submit" name="save">保存</button>
                                    <button class="btn-danger btn" name="delete">删除</button>
                                </div>
                            </div>
                        </fieldset>
                    </form> 

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
