{% extends "object_list.html" %}
{% block title %}机房管理{% endblock %}
{% block username %}developer{% endblock %}
{% block search_form_url %}{% url "rmss.views.machine_room_list_view" %}{% endblock %}
{% block advance_form_url %}{% url "rmss.views.machine_room_advance_search_view" %}{% endblock %}
{% block left_menu_items %}
<li><a href="#">IP</a></li>
<li><a href="#">客户</a></li>
<li class="active"><a href="#">机房</a></li>
{% endblock %}
{% block object_name %}机房资源管理{% endblock %}
{% block object_add_url %}{% url "rmss.views.machine_room_add_view" %}{% endblock %}
{% block tooltip %}新增机房资源{% endblock %}
{% block object_list %}
{% for item in items %}
<div class="alert">
    <div>
        <span class="fa-code fa"></span>{{item.room_id}}
    </div>
    <div>
        <span class="fa-link fa"></span>
        <a href="">{{item.name}}</a>
    </div>
    {% if item.address %}
    <div>
        <span class="glyphicon-map-marker glyphicon"></span>{{item.address}}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
{% block pagination %}
<ul class="pagination">
    {% if items.has_previous %}
    <li class="previous">
    <a href="">&laquo;</a>
    </li>
    </li>
    {% endif %}
    {% for num in items.page_range %}
    {% if not num %}
    <li class="disabled">
    <a href="">...</a>
    </li>
    {% else %}
    <li>
    <a href="">{{num}}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if items.has_next %}
    <li class="next">
    <a href="">&raquo;</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

